body {
    background-color: #121212;
    color: #ccc;
}

#wrapper {
    position: relative;
}

.divs {
    position: absolute;
}

.ui {
    background-color: #222;
    color: #ccc;
    border-radius: 5px;
    border-color: transparent;
}

#calculate-btn {
    margin-top: 68px;
}
